<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <form action="/terraform" method="POST">
        <div>
            <input type="region" name="region" id="region" placeholder="REGION">
        </div>
        <div>
            <input type="vpc" name="vpc" id="vpc" placeholder="VPC CIDR">
        </div>
        <div>
            <input type="project" name="project" id="project" placeholder="PROJECT">
        </div>
        <div>
            <input type="publicip" name="publicip" id="publicip" placeholder="PUBLIC SUBNET CIDR">
        </div>
        <div>
            <input type="privateip" name="privateip" id="privateip" placeholder="PRIVATE SUBNET CIDR">
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
</body>
</html>